#popup.popup
	input#request_email.absolute-center.c_ds_blue.hN.text-center(type="text", name="request_email", placeholder="Your email address", data-bind="email")
	input(type="checkbox", data-bind="terms")
