#popup.popup(data-each="addresses")
	input#name.absolute-center.c_ds_blue.hN.text-center(type="text", name="name", placeholder="Your name", data-bind="name")
	input#email.absolute-center.c_ds_blue.hN.text-center(type="text", name="email", placeholder="Your email address", data-bind="email")
	input(type="checkbox", data-bind="terms")
