body{
	width: 100%;
}

.row-section {
	margin-left: 1rem;
}
.row:not(:first-child) {
	margin-top: 2rem;
}
input.validation-success,
select.validation-success,
textarea.validation-success {
	color: #468847;
	background-color: #DFF0D8;
}

text.enabled{
	color: black;
}

text.disabled{
	color: #CCCCCC;
}

input.validation-error,
select.validation-error,
textarea.validation-error {
	color: #B94A48;
	background-color: #F2DEDE;
}

.half{
	float: left;
	width: 40%;
	padding: 1rem;
}
.half1{
	background-color: aqua;
}
.half2{
	background-color: aquamarine;
}
